---
import BaseLayout from '../../layouts/BaseLayout.astro'
import AdventurersJSX from '../../components/adventurer/Adventurers.jsx'
---

<BaseLayout>
  <AdventurersJSX client:only='solid-js' />
</BaseLayout>
