.advImage,
.lucide-circle-help {
  width: 5rem;
  height: 5rem;
}

.detailsLink {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.detailsLink:hover {
  opacity: 0.8;
}

.titleSpan {
  display: none;
}

@media screen and (min-width: 1024px) {
  .detailsLink {
    grid-template-columns: 1fr 4fr;
    place-items: initial;
  }

  .titleSpan {
    display: block;
  }

  .advImage,
  .lucide-circle-help {
    width: 8rem;
    height: 8rem;
  }

  .nameContainer > b {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .advDetailsContainer {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
  }
}
