.adventurersContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.adventurerListContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.adventurerRow:nth-of-type(odd) {
  background: var(--quaternary-color);
}

.adventurerRow:nth-of-type(even) {
  background: var(--ternary-color);
}

.adventurerRow {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: 'Kreon Variable', 'Times New Roman', Times, serif;
}

.adventurerLabel {
  display: flex;
  flex-direction: column;
}

.resultsContainer {
  width: 100%;
  overflow-y: scroll;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
}

.buttonContainer > button {
  border-color: var(--secondary-color);
  border-width: 1px;
  border-style: solid;
  width: 50%;
}

.onlineTitle {
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .adventurersContainer {
    flex-direction: row;
    gap: 0.5rem;
  }

  .adventurerRow {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
