.deleteButton {
  background: var(--quaternary-color);
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
}

.deleteNameLabel {
  display: grid;
  width: 100%;
}

.deleteContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.deleteForm {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .deleteContainer {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    gap: 1rem;
    align-items: center;
  }
}
