---
const { crafts } = Astro.props
---

<ul class='craftsList'>
  {
    crafts.map((craft) => (
      <li class='craftItem'>
        <h2 class='craftName'>{craft.title}</h2>
        <p class='craftLevel' style={{ width: `${craft.level / 10}%` }}>
          <span class='craftLevelNumber'>{craft.level / 10}</span>
        </p>
      </li>
    ))
  }
</ul>

<style>
  .craftsList {
    background: var(--secondary-color);
    border-radius: 1.5rem;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .craftItem {
    background: var(--quaternary-color);
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
    height: 10%;
  }

  .craftName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .craftLevel {
    background: var(--ternary-color);
    border-radius: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
  }

  .craftLevelNumber {
    padding-left: 1rem;
  }
</style>
