---
const { jobs } = Astro.props
---

<ul class='jobsList'>
  {
    jobs.map((occupation) => (
      <li class='jobItem'>
        <h2 class='jobName'>{occupation.job}</h2>
        <p
          class='jobLevel'
          style={{ width: `${(occupation.level / 75) * 100}%` }}
        >
          <span class='jobLevelNumber'>{occupation.level}</span>
        </p>
      </li>
    ))
  }
</ul>

<style>
  .jobsList {
    background: var(--secondary-color);
    border-radius: 1.5rem;
    padding: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    gap: 0.5rem;
  }

  .jobItem {
    background: var(--quaternary-color);
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
  }

  .jobName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .jobLevel {
    background: var(--ternary-color);
    border-radius: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
  }

  .jobLevelNumber {
    padding-left: 1rem;
  }
</style>
