---
const { nations } = Astro.props
---

<ul class='nationsList'>
  {
    nations.map((nation) => (
      <li class='nationItem'>
        <img class='nationImage' src={nation.pic} alt={nation.alt} />
        <p class='nationRank'>{nation.rank}</p>
      </li>
    ))
  }
</ul>

<style>
  .nationsList {
    background: var(--secondary-color);
    border-radius: 1.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  .nationItem {
    display: flex;
    justify-content: space-between;
    background: var(--quaternary-color);
    border-radius: 1.5rem;
  }

  .nationImage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    width: 15%;
  }

  .nationRank {
    background: var(--ternary-color);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
  }

  @media screen and (min-width: 768px) {
    .nationImage {
      width: 10%;
    }
  }

  @media screen and (min-width: 1024px) {
    .nationItem {
      flex-direction: column;
      height: 33%;
    }

    .nationImage {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1.5rem;
      width: initial;
    }

    .nationRank {
      height: 33%;
      width: initial;
    }
  }
</style>
