.equipmentItemContainer {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.equipmentImage {
  width: 67%;
  height: 67%;
}

@media screen and (min-width: 1024px) {
  .equipmentItemContainer {
    position: relative;
  }
}
