.itemImage {
  width: 3rem;
  height: 3rem;
}

.itemFigure {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  background: var(--quaternary-color);
  border-radius: 1.5rem;
  padding: 1rem;
  width: max-content;
  max-width: calc(100% - 1rem);
  z-index: 10;
  border: var(--text-color) 1px solid;
}

.itemFigcaption p {
  line-height: 1.2rem;
}

.itemDescription {
  white-space: pre;
}

@media screen and (min-width: 1024px) {
  .itemImage {
    width: 3.3rem;
    height: 3.3rem;
  }

  .itemFigure {
    bottom: 6rem;
    left: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .itemFigure {
    max-width: unset;
  }
}

@media screen and (max-width: 1024px) {
  .itemFigure {
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
