---
export const prerender = false

import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <h2>Where Are You Going?</h2>
  <div class='lostbackground'></div>
</BaseLayout>

<style>
  div {
    background-image: url(../media/nomap.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }

  h2 {
    font-size: 2.25rem;
    text-align: center;
  }
</style>
