---
export const prerender = false

import BaseLayout from '../layouts/BaseLayout.astro'
import Auth from '../components/Auth'
import { getPlayer } from '../utils/auth'

const player = await getPlayer(Astro.cookies)

if (player) {
  return Astro.redirect(`/player/${player.login}`)
}

if (Astro.url.href === 'https://atavismxi.com/account/') {
  return Astro.redirect('https://www.atavismxi.com/account/')
}
---

<BaseLayout>
  <Auth client:load />
</BaseLayout>
