---
import BaseLayout from '../layouts/BaseLayout.astro'

import landingVideo from '../media/landing-video.mp4'
---

<BaseLayout>
  <video src={landingVideo} muted loop autoplay></video>
  <div>
    <h1>Atavism XI</h1>
    <h2>FOR MADMEN ONLY</h2>
    <h3>...or Party Like it's 2005</h3>
  </div>
</BaseLayout>

<style>
  video {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  h1 {
    font-size: 3.7rem;
    background: white;
    color: black;
    mix-blend-mode: screen;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 5.5rem;
    }

    h2 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }

    h3 {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }

  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 8rem;
    }

    h2 {
      font-size: 3rem;
      line-height: 1;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
</style>
