---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Download } from 'lucide-astro'
---

<BaseLayout>
  <div class='installContainer'>
    <p>
      In addition to the two install methods listed below any current Air Sky
      Boat installation should be able to connect to play.atavismxi.com. There
      might be bugs if you go that route. Atavism XI can be installed on the
      same machine with an installation of FFXI or another private server.
    </p>
    <div class='osContainer'>
      <section class='linuxInstaller'>
        <h2>Linux</h2>
        <ol>
          <li>
            <a
              href='https://github.com/Grahf0085/atavismxi-installer-solid/releases/download/v1.2.3/atavism-xi-launcher_1.2.3_amd64.AppImage'
              >Download The AppImage Launcher <Download size={20} />.</a
            > You will need about 180MB
          </li>
          <li>Open the Launcher</li>
          <ul>
            <li>
              The recommended place to put the AppImage is anywhere in your Home
              folder.
            </li>
            <li>
              Run <code>"chmod a+x filename"</code> on the AppImage to allow
              executing it
            </li>
            <li>Click the AppImage to launch it</li>
          </ul>
          <li>
            Login to your account. You can make one on the website or in the
            launcher
          </li>
          <li>Install Atavism XI</li>
          <ul>
            <li>Click "Install Atavism XI" in the Account page</li>
            <li>Choose a location in your Home folder</li>
            <li>You will need about 24GB of free space</li>
            <li>The launcher will download and install the game</li>
            <li>
              Feel free to use the launcher to make a character or navigate to
              other pages while it downloads and installs
            </li>
            <li>
              Do NOT navigate to any external links or logout while it's
              installing
            </li>
          </ul>
          <li>
            After the game is installed a "Play Atavism XI" button will appear
          </li>
          <li>
            If there are upates for the launcher or the game a button indicating
            you can upgrade them will appear
          </li>
          <li>You can close the launcher or keep it open while playing</li>
          <li>Notes</li>
          <ul>
            <li>
              You need to have Wine installed. I'm using version 9.2. Other than
              that there are no known special requirements.
            </li>
            <li>
              I had massive lag until I turned down the game settings. If your
              game hangs, has low fps, or freezes I suggest trying that
            </li>
            <li>The icon for the app is blurry. I'm not sure why</li>
            <li>Reach out in discord if you have issues please</li>
          </ul>
        </ol>
      </section>

      <section class='windowsInstaller'>
        <h2>Windows</h2>
        <ol>
          <li>
            <a
              href='https://github.com/Grahf0085/atavismxi-installer-solid/releases/download/v1.2.3/Atavism.XI.Launcher_1.2.3_x64_en-US.msi'
              >Download The MSI Launcher <Download size={20} />.</a
            > You will need about 110MB
          </li>
          <li>Launch the Installer</li>
          <ul>
            <li>Click through the prompts</li>
            <li>Recommended install location is C:\Program Files</li>
            <li>You will need about 116MB</li>
          </ul>
          <li>Open the Launcher. There should be a shortcut on your desktop</li>
          <li>
            Login to your account. You can make one on the website or in the
            launcher
          </li>
          <li>Install Atavism XI</li>
          <ul>
            <li>Click "Install Atavism XI" in the Account page</li>
            <li>Choose a location in your Home folder</li>
            <li>You will need about 24GB of free space</li>
            <li>The launcher will download and install the game</li>
            <li>
              Feel free to use the launcher to make a character or navigate to
              other pages while it downloads and installs
            </li>
            <li>
              Do NOT navigate to any external links or logout while it's
              installing
            </li>
          </ul>
          <li>
            After the game is installed a "Play Atavism XI" button will appear
          </li>
          <li>
            If there are upates for the launcher or the game a button indicating
            you can upgrade them will appear
          </li>
          <li>You can close the launcher or keep it open while playing</li>
          <li>Notes</li>
          <ul>
            <li>
              You will need to have Ashita v4 system requirements installed
            </li>
            <li>
              If you want to setup Ashita addons you'll have to do that yourself
              - I've never used it myself
            </li>
          </ul>
        </ol>
      </section>
    </div>
  </div>
</BaseLayout>

<style>
  .installContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .linuxInstaller {
    background: var(--ternary-color);
    padding: 1rem;
    border-radius: 1.5rem;
  }

  .windowsInstaller {
    background: var(--quaternary-color);
    padding: 1rem;
    border-radius: 1.5rem;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 0.5rem;
  }

  svg {
    display: inline;
  }

  ol {
    list-style: inside;
    list-style-type: decimal;
  }

  ul {
    list-style: inside;
    list-style-type: lower-alpha;
  }

  ul li {
    padding-left: 1rem;
  }

  ol > li {
    margin-top: 1rem;
  }

  a {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    font-style: italic;
  }

  a:hover {
    text-decoration-style: solid;
  }

  p {
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: 1.5rem;
  }

  .osContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (min-width: 768px) {
    .installContainer {
      flex-direction: row;
      height: 100%;
      flex-wrap: wrap;
    }

    .osContainer {
      width: 100%;
      flex-direction: row;
    }

    section {
      width: 50%;
    }
  }
</style>
