---
import BaseLayout from '../layouts/BaseLayout.astro'
import { links } from '../utils/pageItems'
---

<BaseLayout>
  <div>
    {
      links.map((link) => (
        <article>
          <a href={link.url}>
            <h2>{link.title}</h2>
            <p>{link.text}</p>
          </a>
        </article>
      ))
    }
  </div>
</BaseLayout>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  article {
    background: var(--quaternary-color);
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 0.5rem;
  }

  article:hover {
    background: var(--ternary-color);
  }

  a {
    display: block;
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    div {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 1024px) {
    div {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
