---
import BaseLayout from '../layouts/BaseLayout.astro'
import { waysOfSupports } from '../utils/pageItems'
---

<BaseLayout>
  <section>
    <h2>Limited Support Options</h2>
    <ul>
      {
        waysOfSupports.map((wayOfSupport) => (
          <li class='supportItem'>
            <h3 class='supportTitle'>{wayOfSupport.title}</h3>
            <p class='supportText' set:html={wayOfSupport.text} />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.875rem;
    margin-bottom: 1.5rem;
  }

  .supportItem {
    display: flex;
    height: 100%;
  }

  h3 {
    font-size: 1.25rem;
    background: var(--quaternary-color);
    border-radius: 1.5rem 0px 0px 1.5rem;
    min-width: fit-content;
    padding: 1rem;
  }

  p {
    background: var(--ternary-color);
    border-radius: 0px 1.5rem 1.5rem 0px;
    width: 100%;
    padding: 1rem;
  }

  @media screen and (min-width: 768px) {
    h3 {
      min-width: fit-content;
    }

    .supportItem {
      height: fit-content;
    }
  }
</style>
