.creationProfile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.creationFigure,
.allegianceFigure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.creationFigure > img {
  border-radius: 9999px;
  width: 20rem;
}

.allegianceFigure > img {
  width: 20rem;
}

.creationForm > label > input {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .creationProfile {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }
}
