.nationVideo {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nationEmblem {
  width: 3.5rem;
}

.nationDescription {
  background: var(--ternary-color);
}

.nationSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nationEmblemContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 1024px) {
  .nationDescription {
    margin-left: auto;
    width: 40rem;
  }

  .nationEmblem {
    width: 5rem;
  }
}
