---
import EquipmentItem from './EquipmentItem.jsx'
import { fetchEquipment } from '../../../utils/equipment'

const { alias } = Astro.props
const fetchedEquipment = await fetchEquipment(alias)
---

<div class='equipmentGrid'>
  {
    fetchedEquipment.map((equipment, index) => (
      <div class={`equip-slot-${index}`}>
        {equipment.itemId ? (
          <EquipmentItem
            client:load
            ahImage={`https://static.ffxiah.com/images/icon/${equipment.itemId}.png`}
            itemId={equipment.itemId}
            isWeapon={index === 0}
            slot={equipment[index]}
          />
        ) : (
          <p>{equipment[index]}</p>
        )}
      </div>
    ))
  }
</div>

<style>
  .equipmentGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'eq-0 eq-1 eq-2 eq-3'
      'eq-4 eq-9 eq-11 eq-12'
      'eq-5 eq-6 eq-13 eq-14'
      'eq-15 eq-10 eq-7 eq-8';
    gap: 0.5rem;
    background: var(--secondary-color);
    padding: 0.5rem;
    place-items: center;
  }

  .equipmentGrid div {
    background: var(--ternary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
  }

  .equip-slot-0 {
    grid-area: eq-0;
  }

  .equip-slot-1 {
    grid-area: eq-1;
  }

  .equip-slot-2 {
    grid-area: eq-2;
  }

  .equip-slot-3 {
    grid-area: eq-3;
  }

  .equip-slot-4 {
    grid-area: eq-4;
  }

  .equip-slot-5 {
    grid-area: eq-5;
  }

  .equip-slot-6 {
    grid-area: eq-6;
  }

  .equip-slot-7 {
    grid-area: eq-7;
  }

  .equip-slot-8 {
    grid-area: eq-8;
  }

  .equip-slot-9 {
    grid-area: eq-9;
  }

  .equip-slot-10 {
    grid-area: eq-10;
  }

  .equip-slot-11 {
    grid-area: eq-11;
  }

  .equip-slot-12 {
    grid-area: eq-12;
  }

  .equip-slot-13 {
    grid-area: eq-13;
  }

  .equip-slot-14 {
    grid-area: eq-14;
  }

  .equip-slot-15 {
    grid-area: eq-15;
  }

  .equip-slot-16 {
    grid-area: eq-16;
  }

  @media screen and (min-width: 768px) {
    .equipmentGrid div {
      width: 6rem;
      height: 6rem;
    }
  }

  @media screen and (max-width: 1024px) {
    .equipmentGrid {
      position: relative;
    }
  }
</style>
