---
export const prerender = false
import BaseLayout from '../../layouts/BaseLayout.astro'
import Jobs from '../../components/adventurer/Jobs.astro'
import Crafts from '../../components/adventurer/Crafts.astro'
import Nations from '../../components/adventurer/Nations.astro'
import Equipment from '../../components/adventurer/equipment/Equipment.astro'
import DeleteAdv from '../../components/adventurer/DeleteAdv.jsx'
import Adventurer from '../../components/adventurer/Adventurer'
import { fetchAdventurerDetails } from '../../utils/adventurerDetails.js'
import { getPlayer } from '../../utils/auth'
import '../../styles/adventurer/adventurers.css'

const player = await getPlayer(Astro.cookies)

const { alias } = Astro.params
const fetchedDetails = await fetchAdventurerDetails(alias)
const {
  accountId,
  charId,
  charName,
  mainLevel,
  subLevel,
  nations,
  jobs,
  crafts,
} = fetchedDetails

if (!charId) {
  return Astro.redirect('/404')
}
---

<BaseLayout>
  <div class='detailsContainer'>
    <div class='disableLink adventurerHero'>
      <Adventurer
        charname={charName}
        mlvl={mainLevel}
        slvl={subLevel}
        client:load
      />
    </div>

    <div class='infoContainer'>
      <Equipment {alias} />

      <Jobs {jobs} />

      <Crafts {crafts} />

      <Nations {nations} />
    </div>
    {
      accountId === player?.id && (
        <DeleteAdv
          client:load
          {charName}
          charAccountId={accountId}
          {charId}
          playerName={player?.login}
        />
      )
    }
  </div>
</BaseLayout>

<style>
  .detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
  }

  .disableLink {
    pointer-events: none;
  }

  .adventurerHero {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: 'Kreon Variable', 'Times New Roman', Times, serif;
    background: var(--secondary-color);
    border-radius: 1.5rem;
  }

  @media screen and (min-width: 1024px) {
    .detailsContainer {
      height: 100%;
    }

    .infoContainer {
      flex-direction: row;
      min-height: 0;
    }

    .adventurerHero {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
</style>
