---
import Theme from '../components/Theme.astro'

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1).slice(0, -1) // remove the first "/" and last "/".  last "/" added on prod for some reason(not on local host)

const navItems = [
  { name: 'Home', url: '/' },
  { name: 'Account', url: '/account/' }, //no idea why I need extra slash here for active class to be added
  { name: 'Install', url: '/install' },
  { name: 'About', url: '/about' },
  { name: 'Support', url: '/support' },
  { name: 'Rules', url: '/rules' },
  { name: 'Tools', url: undefined, id: 'tools' },
  { name: 'Links', url: '/links' },
]
---

<div class='navContainer'>
  <nav id='menu' class='mobileMenuHide'>
    <Theme />
    {
      navItems.map((navItem) => (
        <a
          class={`navLink ${
            currentPath === navItem.name.toLowerCase() ? 'active' : ''
          } ${
            currentPath.startsWith('player') && navItem.name === 'Account'
              ? 'active'
              : ''
          }`}
          href={navItem.url}
          id={navItem?.id}
        >
          {navItem.name}
        </a>
      ))
    }
    <div class='hidden' id='toolLinks'>
      <a
        class={`${currentPath === 'tools/crafting' ? 'active' : ''}`}
        href='/tools/crafting'>Crafting</a
      >
      <a
        class={`${currentPath === 'tools/adventurers' ? 'active' : ''}`}
        href='/tools/adventurers'>Adventurers</a
      >
    </div>
  </nav>
</div>

<style>
  a {
    border-width: 2px;
    border-style: solid;
    text-align: center;
  }

  .navContainer {
    display: flex;
    grid-area: nav;
  }

  .toolLinks {
    display: flex;
    gap: 0.5rem;
    max-width: inherit;
    z-index: 10;
  }

  #toolLinks a {
    width: 50%;
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }

  #menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    z-index: 10;
    transition-duration: 500ms;
    transition-property: left;
    height: calc(100% - 4.8rem);
    background: var(--secondary-color);
    opacity: 0.95;
    top: 4.8rem;
    justify-content: space-evenly;
  }

  .active {
    background: var(--secondary-color);
  }

  .mobileMenuHide {
    left: -100%;
  }

  .mobileMenuShow {
    left: 0%;
  }

  @media screen and (min-width: 768px) {
    a:hover {
      border-style: solid;
    }

    a {
      font-size: 1.5rem;
      font-weight: 500;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-style: dashed;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    #openMenuButton {
      display: none;
    }

    #menu {
      width: fit-content;
      position: static;
      display: flex;
      background: transparent;
      height: 100%;
      gap: 1rem;
    }

    .navContainer {
      justify-content: center;
    }

    #toolLinks a {
      font-size: 1.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    a {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    document.getElementById('openMenuButton')?.addEventListener('click', () => {
      document.getElementById('menu')?.classList.remove('mobileMenuHide')
      document.getElementById('menu')?.classList.add('mobileMenuShow')
      document.getElementById('openMenuButton')?.classList.add('hidden')
      document.getElementById('closeMenuButton')?.classList.remove('hidden')
    })

    document
      .getElementById('closeMenuButton')
      ?.addEventListener('click', () => {
        document.getElementById('menu')?.classList.add('mobileMenuHide')
        document.getElementById('menu')?.classList.remove('mobileMenuShow')
        document.getElementById('openMenuButton')?.classList.remove('hidden')
        document.getElementById('closeMenuButton')?.classList.add('hidden')
      })

    const toolsElement = document.getElementById('tools')
    const toolLinkElement = document.getElementById('toolLinks')

    if (window.matchMedia('(min-width: 768px)').matches) {
      toolsElement.addEventListener('mouseenter', () => {
        toolLinkElement.classList.remove('hidden')
        toolsElement.replaceWith(toolLinkElement)
        toolLinkElement.classList.add('toolLinks')
      })
      toolLinkElement.addEventListener('mouseleave', () => {
        toolLinkElement.replaceWith(toolsElement)
        toolLinkElement.classList.remove('toolLinks')
      })
    }

    toolsElement.addEventListener('click', () => {
      toolLinkElement.classList.toggle('hidden')
      toolLinkElement.classList.toggle('toolLinks')
      toolsElement.insertAdjacentElement('afterend', toolLinkElement)
    })
  })
</script>
