---
export const prerender = false
import BaseLayout from '../../layouts/BaseLayout.astro'
import Adventurer from '../../components/adventurer/Adventurer'
import { getPlayer } from '../../utils/auth.js'
import { findPlayersAdventurers } from '../../server/player'

const player = await getPlayer(Astro.cookies)
const { name } = Astro.params

if (!player || player.login !== name) {
  return Astro.redirect('/')
}

let playersAdventurers

let characterSlots = [
  { message: 'Create an Adventurer' },
  { message: 'Create an Adventurer' },
  { message: 'Create an Adventurer' },
]

try {
  playersAdventurers = await findPlayersAdventurers(player.id)
} catch (error) {
  console.error('Error Getting Players Adventurers: ', error)
  characterSlots = []
}

playersAdventurers?.forEach((adventurer, index) => {
  characterSlots[index] = adventurer
})
---

<BaseLayout>
  <h2>Your Adventurers</h2>
  <ul class='adventurerListContainer'>
    {
      characterSlots.map((adventurer) => {
        if (adventurer.message)
          return (
            <li class='adventurerRow'>
              <Adventurer client:load />
            </li>
          )
        return (
          <li class='adventurerRow'>
            <Adventurer client:load {...adventurer} />
          </li>
        )
      })
    }
  </ul>
  <button class='logoutButton' id='logout'>Logout</button>
  <p id='logoutError'></p>
</BaseLayout>

<style>
  h2 {
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  button {
    border-color: var(--secondary-color);
    border-width: 1px;
    border-style: solid;
    width: 100%;
  }

  .adventurerRow:nth-of-type(odd) {
    background: var(--quaternary-color);
  }

  .adventurerRow:nth-of-type(even) {
    background: var(--ternary-color);
  }

  .adventurerRow {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: 'Kreon Variable', 'Times New Roman', Times, serif;
  }

  .adventurerListContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 1024px) {
    .adventurerRow {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
</style>

<script>
  import { navigate } from 'astro:transitions/client'
  const baseUrl = import.meta.env.PUBLIC_BASEURL

  document.addEventListener('astro:page-load', () => {
    const logoutButton = document.getElementById('logout')
    const errorParagraph = document.getElementById('logoutError')

    if (logoutButton) {
      logoutButton.addEventListener('click', () => {
        fetch(`${baseUrl}/api/auth/logout`, {
          method: 'POST',
        })
          .then(async (res) => {
            if (!res.ok) {
              throw await res.json()
            }
            const options = {
              history: 'replace',
            }
            navigate(`/`, options)
          })
          .catch((error) => {
            console.error('Logout Fetch Failed. ', error)
            errorParagraph.textContent = error.message
          })
      })
    }
  })
</script>
