---
import { ViewTransitions } from 'astro:transitions'

import '@fontsource-variable/kreon'
import '@fontsource-variable/el-messiri'

import '../styles/global.css'
import Nav from '../components/Nav.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<html lang='en' transition:animate='fade'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='description'
      content='A FFXI private server focused on the Chains of Promathia era of FFXI'
    />
    <ViewTransitions />
    <title>Atavism XI: Ancient FFXI</title>
    <script is:inline>
      if (localStorage.theme === 'dark')
        document.documentElement.classList.add('dark')
    </script>
  </head>
  <body>
    <Header />
    <Nav />
    <div class='main'>
      <slot />
    </div>
    <Footer />
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100vh;
        color: var(--text-color);
        background-color: var(--background-color);
      }

      .main {
        margin-top: 1.5rem;
        flex-grow: 1;
      }

      @media screen and (min-width: 768px) {
        body {
          max-height: 100vh;
          display: grid;
          grid-template-columns: 4fr 1fr;
          grid-template-rows: 1fr 12fr 1fr;
          grid-template-areas:
            'header header'
            'main nav'
            'footer footer';
        }

        .main {
          display: flex;
          flex-direction: column;
          grid-area: main;
          height: 100%;
          min-height: 0;
          overflow-y: scroll;
        }
      }

      @media screen and (min-width: 1024px) {
        body {
          grid-template-columns: 3fr 1fr;
        }
      }
    </style>
  </body>
</html>
